.App {
  text-align: center;
}

form {
  margin-bottom: 50px;
}

#list{
  font-size: larger;
  margin-bottom: 22px;
  list-style-type: none;
  border-radius: 6px;
  min-width: 100%;
}

#icon-btn {
  border: none;
  background: none;
  float: right;
}
